<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap cdn -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- navbar -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row m-0">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right header -->
                    <div class="col-md-6 col-12 header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="skCoding" title="Sk Coding" class="img-fluid">
                        </figure>
                    </div>
                    <!-- left header -->
                    <div class="col-md-6 col-12 header_left">
                        <p>Welcome to Sk Coding</p>
                        <h1 class="text-capitalize">I Am A <span>Mern Stack Developer</span> Youtuber And A Freelancer
                        </h1>
                        <a href=""><button>About me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}